<h1>Tu jest nasz task</h1>
<div>Treść: {{this.model.description}}</div>
<div>Zrobiony: {{if this.model.isDone 'AAA Jak'}}</div>
<div>Zaktualizowany: {{this.model.prettyUpdatedAt}} </div>
<div>Stworzony: {{this.model.prettyCreatedAt}}</div>