<li class='list-group-item'>
  <input
    class='form-check-input me-1'
    type='checkbox'
    value=''
    checked={{@item.isDone}}
    id='secondCheckbox'
  />
  <label class='form-check-label' for='secondCheckbox'>{{@item.label}}</label>
  <button type='button' class='btn btn-danger'>Remove</button>
</li>